<nav
  [ngClass]="{ 'nav--logged-in': loginFlag, 'nav--logged-out': !loginFlag }"
  class="nav"
>
  <ul class="nav__link__box">
    <li>
      <a class="nav__link--home nav__link" href="./index.html">
        <img src="../assets/image/favicon.png" alt="آهنگیفای" />
        <span class="button--inline">آهنگیفای</span>
      </a>
    </li>

    <li>
      <a class="nav__link button--inline" href="./song-list.html"> آهنگ ها </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./play-list.html">
        علاقه مندی ها
      </a>
    </li>

    <li class="nav__auth__box">
      <a class="nav__link button--inline" href="./sign-up.html"> ثبت نام </a>
      <a class="nav__link button--inline" href="./login.html">ورود</a>
    </li>

    <li class="nav__user__box">
      <a class="nav__user" href="./user.html">
        <div class="nav__user__image"></div>
        <div class="nav__user__name">
          {{ user.first_name }} {{ user.last_name }}
        </div>
      </a>

      <button (click)="logOut()" class="nav__logout">خروج</button>
    </li>
  </ul>

  <input type="checkbox" name="toggle-menu" id="toggle-menu" />
  <label for="toggle-menu" class="nav__menu__toggle">
    <div></div>
  </label>

  <div class="nav__menu__background"></div>
  <ul class="nav__menu">
    <li>
      <a class="nav__link button--inline" href="./sign-up.html"> ثبت نام </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./login.html">ورود</a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./song-list.html"> آهنگ ها </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./play-list.html">
        علاقه مندی ها
      </a>
    </li>
  </ul>
</nav>
