@use 'sass:math';
@use '../../assets/scss/util/var';
@use '../../assets/scss/util/media';
@use '../../assets/scss/util/mixins';

%button--base {
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.button {
  padding: 0.5rem 2.5rem;

  border-radius: 0.5rem;
  color: #fff;
  background-color: var.$color-primary;
  transition: all 0.3s ease;

  @extend %button--base;

  &:hover,
  &:focus {
    border-radius: 1.5rem;
  }

  &:active {
    transform: scale(0.9);
  }

  &--inline {
    color: var.$color-primary;
    font-size: 1.3rem;

    transition: 0.3s all ease;

    @extend %button--base;

    &::after {
      content: '';

      display: block;
      margin-top: 0.25rem;
      width: 100%;
      height: 2px;

      transform: scaleX(0);
      transition: all 0.3s ease;
      background-color: var.$color-primary;
    }

    &:hover,
    &:focus {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  &--outline {
    @extend .button;

    color: var.$color-primary;
    background-color: transparent;
    border: 1px solid var.$color-primary;

    &:hover,
    &:focus {
      color: #fff;
      background-color: var.$color-primary;
    }
  }

  &--icon {
    @extend %button--base;

    display: flex;
    padding: 0.8rem;
    max-width: 3.7rem;

    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var.$color-primary;
    transition: all 1s ease;

    &::after {
      content: attr(data-label);

      color: #fefefe;
      overflow: hidden;
      white-space: nowrap;
      transition: all 0.6s ease;
    }

    &:hover {
      max-width: 20rem;
      border-radius: 1rem;
    }

    & > svg {
      display: block;
      margin: 0 1rem;
      width: 1.7rem;
      height: 1.7rem;
      flex: 0 0 1.7rem;

      fill: #fefefe !important;
    }
  }
}

.nav {
  &__link {
    display: block;
    margin-left: 4rem;

    color: var.$color-text !important;
    font-size: 1.5rem !important;

    &:hover {
      color: var.$color-primary !important;
    }

    &--home {
      display: flex;
      height: 4rem;
      align-items: center;

      text-decoration: none;
      outline: none;
      border: none;

      img {
        display: block;
        margin-left: 1rem;
        height: 100%;

        transform: translateY(-0.75rem);
      }

      span {
        color: inherit;
        font-size: inherit;
      }
    }

    &__box {
      display: flex;
      align-items: center;
      padding: 1.5rem 4rem;

      list-style: none;

      li {
        @include media.query(phone) {
          display: none;
        }
      }
    }
  }

  &__menu {
    $toggle-size: 4rem;
    $toggle-margin: 1 + math.div(var.$round-section-margin, 2);
    $backgrond-size: 3.5rem;

    display: none;
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transform: translate(-100%, -50%);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    list-style: none;
    z-index: 1000;

    @include media.query(phone) {
      display: flex;
    }

    & .nav__link {
      margin: 0 0 1rem 0;
      min-width: 8rem;

      color: #fff !important;
      text-align: center;

      &:hover {
        transform: translateX(1rem);
      }
    }

    &__toggle {
      display: none;
      position: fixed;
      top: $toggle-margin;
      right: $toggle-margin;
      width: $toggle-size;
      height: $toggle-size;
      align-items: center;
      justify-content: center;

      border-radius: 100%;
      background-color: #fff;
      box-shadow: 0 0 2rem 2px #00000050;

      cursor: pointer;
      z-index: 1000;

      @include media.query(phone) {
        display: flex;
      }

      & > div {
        &,
        &::after,
        &::before {
          width: 2rem;
          height: 2px;

          border-radius: 1rem;
          background-color: black;
          transition: 0.2s all ease;
        }

        position: relative;

        &::after,
        &::before {
          content: '';

          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }

        &::after {
          margin-top: 0.5rem;
        }

        &::before {
          margin-top: -0.5rem;
        }
      }

      &:hover {
        & > div {
          &::after {
            margin-top: 0.7rem;
          }

          &::before {
            margin-top: -0.7rem;
          }
        }
      }
    }

    &__background {
      display: none;
      position: fixed;
      top: $toggle-margin + math.div($toggle-size - $backgrond-size, 2);
      right: $toggle-margin + math.div($toggle-size - $backgrond-size, 2);
      width: $backgrond-size;
      height: $backgrond-size;

      background: var.$color-primary;
      border-radius: 50%;
      overflow: hidden;

      transition: 0.6s all ease;
      z-index: 999;

      @include media.query(phone) {
        display: block;
      }
    }
  }

  &__auth,
  &__user {
    &__box {
      display: none;
      align-items: center;
      margin-right: auto;
    }
  }

  &__auth__box {
    :last-child {
      margin: 0;
    }
  }

  &__user {
    display: flex;
    margin-left: 2rem;
    align-items: center;

    text-decoration: none;
    outline: none;
    border: none;

    &__image {
      display: flex;
      margin-left: 1rem;
      width: 3rem;
      height: 3rem;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      font-size: 1.5rem;
      color: #fff;
      background-color: var.$color-primary;
      background-size: cover;
      background-position: center;
    }

    &__name {
      font-size: 1.3rem;
    }
  }

  &--logged-in &__user__box {
    display: flex !important;
  }

  &--logged-out &__auth__box {
    display: flex !important;
  }

  &__logout {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 1.2rem !important;

    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
      color: var.$color-primary;
    }
  }
}

#toggle-menu {
  display: none;

  &:checked {
    & ~ .nav__menu {
      opacity: 1;
      transform: translate(0, -50%);

      &__toggle {
        & > div {
          background-color: transparent;

          &::after {
            margin: 0;
            top: 50%;
            transform: rotate(135deg);
          }

          &::before {
            margin: 0;
            top: 50%;
            transform: rotate(-135deg);
          }
        }
      }

      &__background {
        transform: scale(100);
      }
    }
  }
}
