<nav class="nav">
  <ul class="nav__link__box">
    <li>
      <a class="nav__link button--inline" href="./sign-up.html"> ثبت نام </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./login.html"> ورود </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./song-list.html"> آهنگ ها </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./play-list.html">
        علاقه مندی ها
      </a>
    </li>
  </ul>

  <input type="checkbox" name="toggle-menu" id="toggle-menu" />
  <label for="toggle-menu" class="nav__menu__toggle">
    <div></div>
  </label>

  <div class="nav__menu__background"></div>
  <ul class="nav__menu">
    <li>
      <a class="nav__link button--inline" href="./sign-up.html"> ثبت نام </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./login.html">ورود</a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./song-list.html"> آهنگ ها </a>
    </li>
    <li>
      <a class="nav__link button--inline" href="./play-list.html">
        علاقه مندی ها
      </a>
    </li>
  </ul>
</nav>
