@import 'var';

@mixin round-section($background-color: #fff) {
  margin: $round-section-margin;

  border-radius: 3rem;
  background-color: $background-color;
  box-shadow: 0 0 4rem #00000033;
  overflow: hidden;
}