@import '../util/var';

$padding-tb: 0.7rem;
$padding-lr: 0.3rem;
$font-size: 1.5rem;
$font-size-small: 1.2rem;

%active {
  &__input {
    border-bottom-color: $color-green;
    box-shadow: 0 1px 0 0 $color-green;
  }

  &__label {
    transform: translateY(calc(-50% - #{$padding-tb}));
    font-size: $font-size-small;
  }
}

.form__field {
  position: relative;
  margin-top: 2 * $padding-tb;

  &__label {
    color: $color-text;
    font-family: inherit;
    font-size: $font-size;
    cursor: text;

    &--inline {
      position: absolute;
      top: 0;
      right: $padding-lr;

      transform: translateY($padding-tb);
      transition: all 0.3s ease;
    }
  }

  &__input {
    padding: $padding-tb $padding-lr;
    width: 100%;

    outline: none;
    border: none;
    border-bottom: 1px solid $color-text;

    font-family: inherit;
    font-size: $font-size;
    background-color: transparent;

    transition: all 0.3s ease;

    &:focus {
      @extend %active__input;

      & + .form__field__label {
        @extend %active__label;
        margin-right: 0rem !important;
      }
    }

    // remove number input arrows
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }

    &[type='date'] {
      & + .form__field__label {
        margin-right: 3rem;
      }
    }

    &:valid {
      & + .form__field__label {
        margin-right: 0rem;
      }
    }
  }

  &__input:required + &__label::after {
    content: '*';
    margin-right: 0.5rem;
    color: $color-red;
  }

  &__status {
    display: block;
    padding-top: $padding-tb;
    padding-bottom: $padding-tb + 0.5rem;
    height: $font-size-small;
    box-sizing: content-box;

    color: $color-red;
    font-size: $font-size-small;
    font-weight: 700;
    visibility: hidden;
  }

  &--not-empty & {
    &__label {
      @extend %active__label;
    }

    &__input {
      @extend %active__input;
    }
  }

  &--wrong {
    .form__field {
      &__input {
        border-bottom-color: $color-red;
        box-shadow: 0 1px 0 0 $color-red;
      }

      &__status {
        visibility: visible;
      }
    }
  }
}
