@use '../util/var';
@use '../util/mixins';
@use '../util/media';

.header {
  display: grid;
  padding-bottom: 2rem;
  min-height: calc(100vh - #{2 * var.$round-section-margin});
  grid-template-columns: minmax(600px, 1fr) 1fr;

  @include mixins.round-section();

  @include media.query(laptop) {
    grid-template-columns: minmax(400px, 1fr) 1fr;
  }

  @include media.query(tablet) {
    min-height: calc(100vh - #{var.$round-section-margin});
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 5fr;
  }

  @include media.query(25em) {
    grid-template-rows: 4fr 5fr;
  }

  > .nav {
    position: absolute;
    width: calc(100% - #{2 * var.$round-section-margin});
  }

  &__background {
    display: block;

    background: url('../../../assets/image/header.png'),
      url('../../../assets/image/blob.svg');
    background-position: center right, top right;
    background-size: contain, 100% 80%;
    background-repeat: no-repeat;

    @include media.query(laptop) {
      background-size: contain, 100% 70%;
    }

    @include media.query(tablet) {
      background-position: center, top right;
      background-size: contain, 80% 70%;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media.query(laptop) {
      font-size: 0.8rem;
    }

    @include media.query(phone) {
      font-size: 0.6rem;
    }

    h1 {
      color: var.$color-text;
      font-size: 7em;
      font-weight: 400;
    }

    h2 {
      font-size: 4em;
      font-weight: 400;
    }

    p {
      margin-top: 2rem;
      max-width: 90%;

      font-size: 1.5rem;
      text-align: justify;
    }
  }

  &__buttons {
    display: grid;
    margin-top: 2rem;

    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    font-size: 2em;
  }
}
