.genre-type {
  &__title {
    margin-top: 2rem;
    margin-bottom: 4rem;

    font-size: 3rem;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 2rem;
  }
}
