<header class="header">
  <app-navbar></app-navbar>
  <div class="header__background"></div>

  <div class="header__title">
    <h1>آهنگیفای</h1>
    <h2>سفری به سرزمین رویا</h2>
    <p>
      در این دنیای پر از سردرگمی ساعاتی در جادوی موسیقی غرق شویم از بندها رها
      شویم به خود بپردازیم باشد که رستگار شویم...
    </p>

    <div class="header__buttons">
      <a href="./login.html" class="button--outline">ورود</a>
      <a href="./sign-up.html" class="button">ثبت نام</a>
    </div>
  </div>
</header>

<main>
  <section class="section">
    <h2 class="section__title">دنیایی از آهنگ ها</h2>
    <p class="section__text">خاص ترین ها را با ما تجربه کنید...</p>
    <svg class="section__image">
      <use xlink:href="../../assets/image/sprite.svg#music" />
    </svg>
  </section>

  <section class="section">
    <h2 class="section__title">آهنگ های خاطره انگیز</h2>
    <p class="section__text">سفری به گذشته با آهنگ های کلاسیک و قدیمی...</p>
    <svg class="section__image">
      <use xlink:href="../../assets/image/sprite.svg#gramophone" />
    </svg>
  </section>
</main>

<app-footer></app-footer>
