$color-green: #43a047;
$color-red: #c62828;

$color-text-gray: #000000;
$color_light_blue:#eefffd;
$color_medium_yellow:#fdff6f;
$color_light_pink:#FFEEF0;
$color_medium_blue:#80e1ff;

$media_medium:700px;
$navbar_height:100px;