@use './util/media';
@use 'components/form-field';

html,
body {
  height: 100%;
}

main {
  min-height: 100%;

  background: url('../../assets/image/background.jpg');
  background-position: right;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  width: 100%;
  max-width: 450px;

  border-radius: 2rem;
  background-color: #dadfffbf;
  backdrop-filter: blur(8px);
  box-shadow: 0 0.1rem 2rem 0.4rem #00000045;
  @include media.query(phone) {
    padding: 2rem 1rem;
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @include media.query(phone) {
      padding: 1rem;
    }
  }

  &__title {
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
  }

  &__subtitle {
    margin: 0.5rem;
    text-align: center;
    font-size: 1.3rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0 1.5rem;
  }

  .button--inline {
    margin-left: auto;
  }

  button[type='submit'] {
    margin: auto auto 0 auto;
  }
}
