@import 'var';
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'iransans';
    src: url('../../assets/font/iransans.ttf');
}

html {
    font-size: 62.5%;
    font-family: 'iransans', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__section_balloon{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-image: url('../../assets/image/background2.jpg');
        height: 100vh;
        background-size: cover;
        background-position: center -100px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        transition: all 2s;
        &:hover{
            filter: contrast(80%) saturate(500%);
        }
    }
    &__slogan{
        text-align: center;
        color: rgba(0, 0, 0, 0.616);   
    }
    h1#{&}__slogan{
        margin-top: auto;
        
        padding-top: 15px;
        font-size: 4rem;
        font-weight: bolder;
    }
    h3#{&}__slogan{
        margin-bottom: 20vh;
        font-size: 2rem;
    }
}
@media only screen and (max-width:549px) {
    .main{
        &__slogan:not(h3){
            padding-top: 10px;
            font-size: 3rem;
            font-weight: bolder;
        }
        &__slogan:not(h1){
            font-size: 2rem;
        }
    }
    
}
@media only screen and (max-width:360px) {
    .main{
        &__slogan:not(h3){
            padding-top: 10px;
            font-size: 2.5rem;
            font-weight: bolder;
        }
        &__slogan:not(h1){
            font-size: 1.5rem;
        }
    }
    
}