@import 'util/var';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'iransans';
  src: url('../../assets/font/iransans.ttf');
}

html {
  font-size: 62.5%;
  font-family: 'iransans', sans-serif;
}

body {
  color: $color-text;
  background-color: $background-color;
}
