@use 'sass:math';
@use 'util/var';
@use 'util/mixins';
@use 'util/media';

main {
  margin-top: 8rem !important;
  padding-bottom: 5rem;

  overflow: visible !important;
  @include mixins.round-section();
}

.user {
  $image-size: 15rem;

  &__info {
    display: flex;
    padding: 0 4rem;
    align-items: center;

    transform: translateY(-50%);

    @include media.query(phone) {
      transform: translateY(#{math.div(-$image-size, 2)});
      flex-direction: column;
    }
  }

  &__image {
    display: flex;
    width: $image-size;
    height: $image-size;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    box-shadow: 1px 5px 12px #00000052;
    overflow: hidden;

    color: #fff;
    background-color: var.$color-primary;
    font-size: 5rem;
  }

  &__name {
    margin: 0 2rem 0 auto;

    font-size: 3rem;
    font-weight: 400;

    @include media.query(phone) {
      margin: 1rem 0;
    }
  }
}

.modal__background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 50%;
  height: auto;
  min-height: 10rem;
  background-color: #fff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

details {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 2rem;
  box-shadow: 0 0.2rem 1.3rem -0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  background-color: white;

  &[open] > summary:before {
    transform: rotate(90deg);
  }

  & > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
}

summary {
  padding: 1rem;
  display: block;
  padding-left: 2.2rem;
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  color: black;

  &:before {
    content: '';
    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
  }
}
