@use 'sass:math';
@use 'util/var';
@use 'util/mixins';
@use 'util/media';

html,
body {
  background: #eeeeee !important;
}

main {
  margin-top: 8rem !important;
  padding-bottom: 5rem;

  overflow: visible !important;
  @include mixins.round-section();
}

.user {
  $image-size: 15rem;

  &__info {
    display: flex;
    padding: 0 4rem;
    align-items: center;

    transform: translateY(-50%);

    @include media.query(phone) {
      transform: translateY(#{math.div(-$image-size, 2)});
      flex-direction: column;
    }
  }

  &__image {
    display: flex;
    width: $image-size;
    height: $image-size;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    box-shadow: 1px 5px 12px #00000052;
    overflow: hidden;

    color: #fff;
    background-color: var.$color-primary;
    font-size: 5rem;
  }

  &__name {
    margin: 0 2rem 0 auto;

    font-size: 3rem;
    font-weight: 400;

    @include media.query(phone) {
      margin: 1rem 0;
    }
  }
}

details {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0 2rem;
  width: 100%;

  border-radius: 2rem;
  box-shadow: 0 0 1.5rem 1px #00000040;
  overflow: hidden;

  &[open] > summary:before {
    transform: translateY(-50%) rotate(-90deg);
  }

  & > ul {
    padding-bottom: 1rem;
  }
}

summary {
  display: block;

  position: relative;
  padding: 1rem 2rem;

  color: black;
  font-size: 2rem;

  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;

    border-width: 0.4rem;
    border-style: solid;
    border-color: transparent var.$color-text transparent transparent;

    transform: translateY(-50%) rotate(0);
    transform-origin: 0.4rem 50%;
    transition: 0.25s transform ease;
  }
}

.delete-song-container {
  & > svg {
    width: 2rem;
    height: 2rem;

    transition: 0.2s all ease;

    &:hover {
      transform: scale(1.1);
      fill: red;
    }
  }
}
