@use 'sass:string';
@use 'util/var';
@use 'util/mixins';

.song {
  &__container {
    margin-top: 10rem !important;
    padding-bottom: 3rem;

    overflow: visible !important;

    @include mixins.round-section();
  }

  &__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transform: translateY(-7.5rem);

    & > img {
      margin-right: 10rem;

      border-radius: 50%;
      box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.322);

      @media only screen and (max-width: 494px) {
        width: 60%;
        margin: auto;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 6rem auto auto;

    @media only screen and (max-width: 494px) {
      width: 100%;
      margin: auto;
    }

    & > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      & > h1 {
        font-size: 3rem;
        margin: 0 1rem;
      }

      & > div {
        padding: 0.1rem 1rem;
        border-radius: 1rem;
        border: 1px solid var.$color-tomato-red;
      }
    }

    & > button {
      width: auto;
      height: 3.5rem;
      background-color: var.$color-tomato-red;
      border-radius: 1rem;
      border: 0.15rem solid var.$color-tomato-red;
      padding: 0.7rem 0.7rem;
      margin: 1rem;
      cursor: pointer;
      transition: 0.5s all ease;
      color: #fefefe;
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 0.4;
    align-items: center;
    margin: 5rem auto auto 5rem;

    @media only screen and (max-width: 684px) {
      width: 100%;
      margin: auto;
    }

    @media only screen and (max-width: 684px) {
      width: 100%;
      margin: auto;
    }
  }

  &__tab {
    display: none;

    &__box {
      display: flex;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      justify-content: center;
      align-items: center;

      border-bottom: 2px dashed rgba(0, 0, 0, 0.411);
    }

    &__label {
      margin: 0 0.5rem;
      padding: 0.1rem 1rem;

      border: 1px solid transparent;
      border-radius: 1rem;

      color: black;
      background-color: transparent;
      font-size: 1.4rem;

      transition: 0.2s all ease;

      cursor: pointer;
    }
  }

  &__lyrics {
    width: 90%;
    margin: auto;
    font-size: 1.3rem;
  }

  &__suggestion {
    &__list {
      & > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        align-items: center;
        margin: 1rem auto;
        & > a {
          width: 50%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          & > img {
            width: 5rem;
            height: auto;
            border-radius: 0.5rem;
          }
          & > h3 {
            text-decoration: none;
            color: var.$color-text;
          }
          & > div {
            text-decoration: none;
            color: var.$color-text;
          }
        }
      }
    }
  }
}

#lyrics {
  & ~ .song__lyrics {
    display: none;
  }

  &:checked {
    & ~ .song__lyrics {
      display: block;
    }

    & ~ .song__tab__box > #song__lyrics__label {
      border-color: var.$color-tomato-red;
    }
  }
}

#suggestion {
  & ~ .song__suggestion {
    display: none;
  }

  &:checked {
    & ~ .song__suggestion {
      display: block;
    }

    & ~ .song__tab__box > #song__suggestion__label {
      border-color: var.$color-tomato-red;
    }
  }
}
