@use 'util/mixins';
@use 'util/var';

main {
  padding: 2rem;

  @include mixins.round-section();
}

.song {
  &__gener {
    margin-bottom: 8rem;

    &:last-child {
      margin-bottom: 0;
    }

    &__header {
      display: flex;
      align-items: baseline;
    }

    &__name {
      margin: 0 1.5rem 0 auto;

      font-size: 3rem;
      font-weight: 400;
    }

    &__container {
      display: flex;
      padding: 2rem 0;

      list-style: none;
      overflow-x: auto;

      @include mixins.scrollbar();
    }
  }

  &__unit {
    &__box {
      margin: 0 1rem;
      flex: 0 0 20rem;

      &:first-child {
        margin-right: 2rem;
      }

      &:last-child {
        margin-left: 2rem;
      }
    }
  }
}
