@use 'sass:string';
@use 'util/var';
@use 'util/mixins';
@use 'util/media';

.song {
  $image-size: 15rem;

  &__container {
    margin-top: 10rem !important;
    padding-bottom: 4rem;

    overflow: visible !important;

    @include mixins.round-section();

    @include media.query(phone) {
      margin-top: 15rem !important;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: min-content 1fr max-content;
    grid-template-rows: 1fr repeat(3, min-content);
    grid-template-areas:
      'image . .'
      'image name actions'
      'image singer .'
      'image follow .';

      gap: 0 2rem;
      padding: 0 4rem;

      transform: translateY(-6.9rem);
  }

  &__image {
    display: block;
    width: $image-size;
    height: $image-size;
    grid-area: image;

    border-radius: 50%;
    box-shadow: 1px 5px 12px rgba(0, 0, 0, 0.322);
    overflow: hidden;
    object-fit: cover;
  }

  &__name {
    display: flex;
    align-items: center;
    grid-area: name;

    font-size: 3rem;
    font-weight: 400;

    & > small {
      padding: 0.1rem 1rem;
      margin-right: 1rem;

      border-radius: 1rem;
      font-size: 1.3rem;
    }
  }

  &__singer {
    grid-area: singer;

    font-size: 1.7rem;
    font-weight: 400;
  }

  &__follow {
    margin-top: 1rem;
    grid-area: follow;
    justify-self: start;

    font-size: 1rem;
  }

  &__actions {
    display: flex;
    grid-area: actions;
    align-self: end;

    & > button {
      margin-left: 1rem;

      &:last-child {
        margin-left: 0;
      }
    }
  }

  &__tab {
    display: none;

    &__box {
      display: flex;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      justify-content: center;
      align-items: center;

      border-bottom: 2px dashed rgba(0, 0, 0, 0.411);
    }

    &__label {
      margin: 0 0.5rem;
      padding: 0.1rem 1rem;

      border: 1px solid transparent;
      border-radius: 1rem;

      color: black;
      background-color: transparent;
      font-size: 1.4rem;

      transition: 0.2s all ease;

      cursor: pointer;
    }
  }

  &__lyrics {
    width: 90%;
    margin: auto;
    font-size: 1.3rem;
  }

  &__suggestion {
    &__list {
      & > li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        align-items: center;
        margin: 1rem auto;
        & > a {
          width: 50%;
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          & > img {
            width: 5rem;
            height: auto;
            border-radius: 0.5rem;
          }
          & > h3 {
            text-decoration: none;
            color: var.$color-text;
          }
          & > div {
            text-decoration: none;
            color: var.$color-text;
          }
        }
      }
    }
  }
}

#lyrics {
  & ~ .song__lyrics {
    display: none;
  }

  &:checked {
    & ~ .song__lyrics {
      display: block;
    }

    & ~ .song__tab__box > #song__lyrics__label {
      border-color: var.$color-tomato-red;
    }
  }
}

#suggestion {
  & ~ .song__suggestion {
    display: none;
  }

  &:checked {
    & ~ .song__suggestion {
      display: block;
    }

    & ~ .song__tab__box > #song__suggestion__label {
      border-color: var.$color-tomato-red;
    }
  }
}
