@use 'util/mixins';

main {
  padding: 2rem;

  @include mixins.round-section();
}

.song__gener {
  &__box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

    gap: 2rem;
  }

  &__name{
    margin-bottom: 3rem;

    font-size: 3rem;
    font-weight: 400;
  }
}
